doctype html
html(lang="en")
		head 
		meta(charset="UTF-8")
		link(rel="stylesheet" href="/stylesheets/application.css")

		body
				include includes/header.pug
				block appContent
				include includes/footer.pug